.App {
  background-color: #d8d5e8;
  color: #4a075e;
}

.navbar {
  background-image: linear-gradient(to bottom right, #4a075e, #e7d7ef);
}

.navbar-brand img {
  border: 2px solid black;
  height: 7rem;
}

.logo-cup {
  border: 2px solid black;
  height: 7rem;
  border-radius: 50%;
}

.logo-fire {
  border: 2px solid black;
  height: 7rem;
  border-radius: 50%;
}

.card {
  border: 2px solid #3f1156 !important;
}
.card-img-top {
  /* width: 6em; */
  height: 10em;
  /* border-radius: 50%; */
}

.lastgame {
  width: 5em;
  height: 4em;
  border-radius: 50%;
  border: 3px solid black;
}

.myTable tr {
  border: 2px solid black;
  font-size: 1em;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

td input {
  max-width: 30%;
}

td {
  padding: 0.5em;
}

.appSelect {
  direction: rtl;
}

.appSelect p {
  font-weight: 700;
}

.choose {
  font-weight: 700;
}

.twitch-logo {
  height: 4em;
  border: 2px solid #4a075e;
}
.twitch-img {
  height: 12em;
  border: 2px solid #4a075e;
}

.btn-danger {
  margin-left: 100px;
}
.bg-dark {
  width: 14em;
  height: 26em;
}
.stats {
  height: 16em;
  width: 12em;
  object-fit: cover;
}
